html, body{
  background-image: url(../img/background.jpg);
  background-repeat: repeat;
  height: 100%;
}

.container {
  background-color: rgba(201, 180, 240, 0.9);
  padding: 2em 1em;
}

h1 {
  text-align: center;
  font-weight: bold;
}

h2 {
  text-decoration: underline;
}

a {
  color: rgb(32,21,53);
}

button {
  color: white;
}

button a, button a:hover {
  color: white;
  text-decoration: none;
}