@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h1>Dr. Sillystringz's Factory</h1>
<hr />
<h2>Delete</h2>
<h3>Are you sure you want to delete this machine?</h3>

<h4>Machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  <button type="submit" value="Yes" class="btn btn-success">Yes</button>
}
<button class="btn btn-danger">@Html.ActionLink("No", "Details", new { id = Model.MachineId })</button>