@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h1>Dr. Sillystringz's Factory</h1>
<hr />
<h2>Add Machine</h2>
<h3>Add a machine to this engineer</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  @Html.Label("Select a machine")
  @Html.DropDownList("MachineId")
  <button type="submit" value="Add Machine" class="btn btn-primary">Add</button>
}